<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title class="m-b-0">Prescription</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <div class="row">
        <!-- Prescription Details -->
        <div class="col-sm-12 col-lg-6">
          <mat-card class="b-1 shadow-none">
            <mat-card-header>
              <mat-card-title>Prescription Details</mat-card-title>
            </mat-card-header>
            <mat-card-content class="b-t-1">
              <p><strong>Patient:</strong> John Doe</p>
              <p><strong>Date:</strong> 2025-01-10</p>
              <p><strong>Description:</strong> Follow-up for hypertension.</p>
            </mat-card-content>
          </mat-card>
        </div>
        </div>
    </mat-card-content>
  </mat-card>
  