<div class="container">
    <h1 class="page-title">Liste des Médicaments</h1>

    <mat-card class="cardWithShadow theme-card">
        <mat-card-header>
            <mat-card-title class="m-b-0">Médicaments</mat-card-title>
        </mat-card-header>

        <mat-card-content class="b-t-1">
            <div class="table-responsive">
                <table mat-table [dataSource]="medications" class="mat-elevation-z8">
                    
                    <!-- Colonne Image -->
                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef class="black-header"> Image </th>
                        <td mat-cell *matCellDef="let medicament">
                            <img [src]="medicament.imageUrl ? medicament.imageUrl : 'assets/default-medicine.jpg'" 
     alt="Image médicament" class="medicament-image"/>

                        </td>
                    </ng-container>

                    <!-- Colonne Nom -->
                    <ng-container matColumnDef="nom">
                        <th mat-header-cell *matHeaderCellDef class="black-header"> Name </th>
                        <td mat-cell *matCellDef="let medicament"> {{ medicament.nom }} </td>
                    </ng-container>

                    <!-- Colonne Description -->
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef class="black-header"> Description </th>
                        <td mat-cell *matCellDef="let medicament"> {{ medicament.description }} </td>
                    </ng-container>

                    <!-- Définition des lignes -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <!-- Paginator -->
            </div>
        </mat-card-content>
    </mat-card>
</div>
