<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Menu</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
      <!-- Menu Basic -->
      <div class="col-sm-6 col-lg-4">
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Basic</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <button mat-flat-button color="primary" [matMenuTriggerFor]="basicMenu" class="m-t-8">
              Menu
            </button>
            <mat-menu #basicMenu="matMenu" class="cardWithShadow">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Menu with Icons -->
      <div class="col-sm-6 col-lg-4">
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>With Icons</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <button mat-icon-button [matMenuTriggerFor]="iconMenu" aria-label="Menu with icons">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #iconMenu="matMenu" class="cardWithShadow">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Nested Menu -->
      <div class="col-sm-6 col-lg-4">
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Nested Menu</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <button mat-flat-button color="primary" [matMenuTriggerFor]="animalMenu" class="m-t-8">
              Animal Index
            </button>
            <mat-menu #animalMenu="matMenu" class="cardWithShadow">
              <button mat-menu-item [matMenuTriggerFor]="vertebrateMenu">Vertebrates</button>
              <button mat-menu-item [matMenuTriggerFor]="invertebrateMenu">Invertebrates</button>
            </mat-menu>

            <mat-menu #vertebrateMenu="matMenu" class="cardWithShadow">
              <button mat-menu-item>Birds</button>
              <button mat-menu-item>Mammals</button>
            </mat-menu>

            <mat-menu #invertebrateMenu="matMenu" class="cardWithShadow">
              <button mat-menu-item>Insects</button>
              <button mat-menu-item>Molluscs</button>
            </mat-menu>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Menu Positions -->
      <div class="col-12">
        <mat-card class="b-1 shadow-none">
          <mat-card-header>
            <mat-card-title>Positions</mat-card-title>
          </mat-card-header>
          <mat-card-content class="b-t-1">
            <div class="row">
              <div class="col-sm-3">
                <button mat-flat-button color="primary" [matMenuTriggerFor]="aboveMenu" class="w-100">
                  Above
                </button>
                <mat-menu #aboveMenu="matMenu" class="cardWithShadow" yPosition="above">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
              </div>
              <div class="col-sm-3">
                <button mat-flat-button color="primary" [matMenuTriggerFor]="belowMenu" class="w-100">
                  Below
                </button>
                <mat-menu #belowMenu="matMenu" class="cardWithShadow" yPosition="below">
                  <button mat-menu-item>Item 1</button>
                  <button mat-menu-item>Item 2</button>
                </mat-menu>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
